@font-face {
  font-family: 'MiFuente';
  src: url('../public/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MiFuenteFuerte';
  src: url('../public/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
body {
  font-family: 'MiFuente';
}
html {
  scroll-behavior: smooth;
}