@font-face {
  font-family: 'MiFuente';
  src: url('../public/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MiFuenteFuerte';
  src: url('../public/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1
}

body {
  font-family: 'MiFuente';
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}