@font-face {
  font-family: 'MiFuente';
  src: url('../public/Poppins/Poppins-Light.ttf') format('truetype');
  /* Ruta relativa a la ubicación del archivo CSS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MiFuenteFuerte';
  src: url('../public/Poppins/Poppins-Black.ttf') format('truetype');
  /* Ruta relativa a la ubicación del archivo CSS */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MiFuente';
  /* background-color: white; */
}