.first-title {
    font-family: 'MiFuenteFuerte';
}


.desktop-image {
    padding-bottom: 100px;
}

.custom-padding {
    padding-top: 80px;
    /* Ajusta el espaciado superior según tus necesidades */
    padding-bottom: 50px;
    /* Ajusta el espaciado inferior según tus necesidades */
}

/* Estilos adicionales si son necesarios */
@media (max-width: 768px) {
    .custom-padding {
        padding-top: 30px;
        /* Espaciado superior en dispositivos móviles o pequeñas pantallas */
        padding-bottom: 30px;
        /* Espaciado inferior en dispositivos móviles o pequeñas pantallas */
    }
}