body {
    background-image: url('../../../public/pontus-wellgraf-FU9bFwNTVJ8-unsplash.jpg');
    background-size: cover;
}

/* homePage.css */



.title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white
        /* Alineación horizontal del texto */
}

.introductory-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* Alineación horizontal del texto */
    color: white
}